﻿@charset "utf-8";
/* CSS Document */

@font-face {
 font-family: 'Montserrat';
 src: url('../fonts/Montserrat-Regular.eot');
 src: url('../fonts/Montserrat-Regulard41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Regular.woff') format('woff'),  url('../fonts/Montserrat-Regular.ttf') format('truetype'),  url('../fonts/Montserrat-Regular.svg#stencilstd') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'open';
 src: url('../fonts/OpenSans-Regular.eot');
 src: url('../fonts/OpenSans-Regulard41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Regular.woff') format('woff'),  url('../fonts/OpenSans-Regular.ttf') format('truetype'),  url('../fonts/OpenSans-Regular.svg#stencilstd') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'icomoon';
 src:url('../fonts/icomoon.eot');
 src:url('../fonts/icomoond41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/icomoon.woff') format('woff'),  url('../fonts/icomoon.ttf') format('truetype'),  url('../fonts/icomoon.svg#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'lucida';
 src:url('../fonts/LucidaCalligraphy-Italic_gdi.eot');
 src:url('../fonts/LucidaCalligraphy-Italic_gdid41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/LucidaCalligraphy-Italic_gdi.woff') format('woff'),  url('../fonts/LucidaCalligraphy-Italic_gdi.ttf') format('truetype'),  url('../fonts/LucidaCalligraphy-Italic_gdi.svg#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	outline:none;
	transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
}
a:hover {
	text-decoration:none;
}
.paddingleft {
	padding-left:0;
}
.paddingright {
	padding-right:0;
}
.spacing {
	padding:50px 0;
	display:block;
}
.defaultbtn {
	color: #333;
	background: #fff;
	border: 1px #ddd solid;
	padding: 0px 15px;
	display: block;
	border-radius: 2px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 32px;
	transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
}
.defaultbtn:hover {
	background:#ff3300;
	border:1px solid #ff3300;
	color:#fff !important;
}
.fullwidth {
	width:100%;
}

.logo{padding:8px 0;}
/*-----------banner start---------------------*/
.banner{margin-top:5px;}
.rslides {
  margin: 0 auto 40px;
  }

#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

.events {
  list-style: none;
  }

.callbacks_container {
  margin-bottom: 10px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.html") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}


.plans
{
	    text-align: center;
    background-color: #fff;
    padding: 2%;
    box-shadow: 0px 0px 2px 1px rgb(202, 198, 198);
    margin-top: 2%;
    margin-left: 4%;
	
	}

.plans h4
{
	color: #777777;
	
	}
/*	----------------------------------------------------------
	Contact Form
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

#contact-form input, #contact-form textarea {
	border: 1px solid #AFAFB1;
	background: #fff;
	padding: 5px 10px;
}
#contact-form textarea {
	width: 100%;
}
.statusMessage {
	color: #666;
}
.statusMessage {
	background: #fff;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
	box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
}
.statusMessage {
	display: none;
	margin: auto;
	width: 30em;
	height: 2em;
	padding: 1.5em;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.statusMessage p {
	text-align: center;
	margin: 0;
	padding: 0;
}

/* ==|== book your place button = = = = = = = = = = = = = = = = = = = = = */

.buttons.send {
	background: #fff;
	color: #3b3b3d;
	text-transform: none;
	padding: 10px 12px;
	text-decoration: none;
	cursor: pointer;
}
.buttons.send:hover {
	background: #3b3b3d !important;
	color: #fff;
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}
#headerwrap {
    
    margin-top: -50px;
    padding-top: 120px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
  
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media screen and (max-width: 600px) {

  .callbacks_nav {
    top: 47%;
    }
  }
  
  
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/*---------------------------banner end----------------------------*/

.topheader{position:fixed; top:0; z-index:99; width:100%;}
.topline{border-bottom:1px solid #ddd; width:100%; background-color: rgba(0, 0, 0, 0.8);}
.open > .dropdown-menu {-webkit-transform: scale(1, 1); transform: scale(1, 1);  opacity:1;}
  
.dropdown-menu {opacity:.3; -webkit-transform-origin: top; transform-origin: top; -webkit-animation-fill-mode: forwards;   animation-fill-mode: forwards;  -webkit-transform: scale(1, 0);
  transition: all 0.3s linear; -webkit-transition: all 0.3s linear;}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}


.benefitbg{padding:50px 0;}
.benefitbg h2{text-align:center; padding-bottom:10px;}
.benefitbg p{text-align:center; padding:8px 0;}
.benefit{text-align:center; margin-bottom:20px;}
.benefit img{border-radius:50%; border:5px solid #ddd; margin-bottom:10px;}
.benefit h3{padding-bottom:8px; color:#8f1e78; font-size:18px;}
.benefit p{padding-bottom:10px;}
a.readmore{background:#41939e; border-radius:4px; display:inline-block; padding:8px; color:#fff; width:auto !important; text-transform:uppercase;}
a.readmore:hover{background:#8f1e78;}


/*---------------plan start-----------------*/
.planbg{padding: 40px 0; background:#fafafa;  border-bottom:1px solid #ddd; }
.planbg h2{text-align:center; padding-bottom:20px;}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}

/*----------------plan end------------------------*/

/*----------------testimonial start------------------------*/
.testimonial{background:#41939e; padding:30px 0; color:#fff;}
/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #fff;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
/*----------------testimonial end------------------------*/
.map{width:100%;}
.getintouch{width:100%; padding:30px 0; background:#41939e;}
.getintouch h1{color:#fff; text-align:center; font-size:30px; text-transform:uppercase; padding-bottom:30px;}
.getinput{height:40px;}
.getarea{min-height:150px;}

.footer{background: #5f5f5f; padding:20px 0; color:#fff; }
.footercontent{}
.footercontent small{color:#fff; font-size:12px; display:block;}
.footercontent strong{color:#fff; font-size:16px; display:block; padding:5px 0;}
.footercontent a{color:#fff;}
.footercontent a i{padding:8px 6px;}

.footerend{text-align:center; width:100%; padding:5px 0;         background: #4e4e4e;color: #fff;}
.footerend p{line-height:22px; font-size:12px; text-align: center;}

ul.sitelist{margin:0; padding:0; display:block;}
ul.sitelist li{list-style:none; padding:5px 0;}
ul.sitelist li:before{content: "\f101"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; color:#901d78; padding-right:4px;}
.special{}
.special img{width:100%;}







